body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}
.btn-new-note {
  text-align: center;
  font-weight: 500;
  padding: 16px 0;
  width: 100%;
  background-color: rgba(170, 170, 150, 0.5);
}
.btn-new-note:hover {
  cursor: pointer;
  background-color: rgba(170, 170, 150, 0.7);
}
.Notes-container {
  display: flex;
  gap: 8px;
}
.Note-card {
  max-width: 350px;

  border: 1px solid rgba(170, 170, 150, 0.7);
}
.Note-card-title {
  padding: 8px 16px;

  background-color: rgba(170, 170, 150, 0.7);
}
.Note-card-content {
  padding: 8px;
}
